#franceconnect-login-form input.form-submit {
  background:url('../images/franceconnect-bouton.svg');
  width: 234px;
  height: 64px;
  white-space: nowrap;
  color: transparent;
}

#franceconnect-login-form input.form-submit:hover,
#franceconnect-login-form input.form-submit:focus {
  background:url('../images/franceconnect-bouton-hover.svg');
}

.franceconnect-login .separator {
  position: relative;
  margin: 0;
  font-size: 120%;
  text-align: center;
}

.franceconnect-login .separator span {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.3em;
  background-color: #ccc;
  border-radius: 50%;
}

.franceconnect-login .separator::after {
  position: absolute;
  left: 0;
  top: 50%;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.franceconnect-login .what-is {
  margin-bottom: 15px;
}
