{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 *
 * @see template_preprocess_input()
 */
#}
<div class="franceconnect-login">
  <p class="help-text">
    FranceConnect est la solution proposée par l’État pour sécuriser et simplifier la connexion à vos services en ligne.
  </p>
  <p class="what-is">
    <a href="https://franceconnect.gouv.fr/" target="_blank">Qu’est-ce que FranceConnect ?</a>
  </p>
  <input{{ attributes }} />{{ children }}
  <p class="separator"><span>ou</span></p>
</div>
